
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(60, 60, 60);
}

.navbar{
  display: flex;
  margin-bottom: 30px;
  height: 70px;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar-nav{
  display: flex;
  margin-right: 40px;
  list-style: none;
  margin-left: auto;
}
.logo{
  margin: 0 20px;
}

.navbar-nav li a{
  margin-right: 30px;
  text-decoration: none;
}

.slider{
  width: 100%;
  max-width: 1200px;
  height: 640px;
  overflow: hidden;
  margin: auto;
  position: relative;
  border-radius: 15px;
}

.slide{
  display: flex;
  width: calc(3*100);
  animation: 10s slideleft infinite;
}

.slide img{
  width: 100%;
  height: 640px;
  object-fit: cover;
}

.jumbotron{
  display: flex;
  margin: 30px 0;
  padding: 5px;
  width: 100%;
  background-color: silver;
}
.l-jumbo{
  width:70%;
  padding: 10px;
}
.r-jumbo{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.r-jumbo button{
  border: solid;
  border-color: rgb(73, 73, 73);
  background-color: rgb(73, 73, 73);
  color: rgb(73, 73, 73);
  border-radius: 10px;
  height: 30px;
  width: 90px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.r-jumbo button:hover{
  color: black;
  border-color: black;
  background-color: rgb(112, 112, 112);
}

.welcome{
  padding: 30px 0;
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome h2{

}

@keyframes slideleft{
  0%{ transform: translateX(0%);}
  33.333%{ transform: translateX(-100%);}
  66.666%{ transform: translate(-200%);}
  100%{ transform: translateX(0%);}
}











/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}








